<% if(typeof errors != 'undefined') { %>
  <% errors.forEach((err)=>{ %>
    <h3>
        <%= err.msg %>
    </h3>
  <% }); %>
<% } %>


<% if(error != '') { %>
      <h3>
          <%= error %>
      </h3>
<% } %>